---

---
  <section class="relative container mx-auto grid grid-cols-1 md:grid-cols-2 mt-32 mb-16 px-4 bg-gray-100 rounded-xl ">
    <div class="w-full mx-8">
   <h2 class="text-3xl mt-8 pb-8 font-bold">Online poradňa</h2>
   <p>Máte otázky ohľadom chudnutia, jedálničkov na chudnutie, či vyváženej stravy? Využite online poradňu s našim pánom doktorom a napíšte nám.</p>
   <div class="my-4 p-4 border-nutriGreen-300 border-2">
    <p class="font-bold pb-2"><a href="https://nutrifood.company/poradne-detail/vladimir-teplan">Prof. MUDr. Vladimír Teplan, DrSc.</a></p>
    <p>Obezitiológ, nefrológ a medicínsky odborný garant výživových a redukčných programov NUTRI FOOD PLAN pre Českú republiku – PRAHA 1</p>
   </div>
   <div class="py-8 ">
    <button
      class="rounded-xl bg-nutriPink-100 py-4 px-6 mr-4 text-white font-bold"
      >VYBER SI SVOJHO PORADCU</button
    >
    <button
      class="rounded-xl bg-nutriGreen-300 py-4 px-6 ml-4 text-white font-bold"
      >ZOBRAZIŤ MRP POTRAVINY</button
    >
  </div>
</div>
<div class="">
    <img src="https://www.nutrifood.sk/wp-content/webp-express/webp-images/uploads/2021/08/teplan-1.png.webp" alt="Prof. MUDr. Vladimír Teplan, DrSc." class="right-5 bottom-[0px] absolute" />
</div>

</section>