<section class="dark:bg-gray-800 dark:text-gray-100">
	<div class="container flex flex-col justify-center p-6 mx-auto sm:py-3 lg:py-6 lg:flex-row lg:justify-between">
	
    <div class="flex flex-col justify-center p-6 text-center rounded-sm  lg:text-left">
			<h1 class="text-5xl font-bold leading-none sm:text-4xl text-nutriGreen-200">Zmen svoj zivot<br /><span class="text-nutriGreen-300">schudni rychlo a bezpecne pod odbornym dohladom</span>
			</h1>
			<!-- <p class="mt-6 mb-8 text-lg sm:mb-12 text-nutriGreen-200">Schudnite bezpečne s nutrične vyváženými potravinami NutriFood MRP</p> -->
			<div class="flex flex-col space-y-4 sm:items-center sm:justify-center sm:flex-row sm:space-y-0 sm:space-x-4 lg:justify-start mt-8">
				<a rel="noopener noreferrer" href="#" class="px-8 py-3 text-lg font-semibold border rounded border-nutriGreen-200 dark:bg-violet-400 dark:text-gray-900">Chcem schudnut</a>
			</div>
		</div>    
    <div class="flex items-center justify-center p-6 mt-8 lg:mt-0 h-72 sm:h-80 lg:h-96 xl:h-112 2xl:h-128">
      <img src="/img/Silueta-zeny-zelena.png" alt="" class="object-contain h-72 sm:h-80 lg:h-96 xl:h-112 2xl:h-128" />
    </div>	
	</div>

</section>
