<div
  class="bg-[url('https://www.nutrifood.sk/wp-content/uploads/2022/06/Dizajn-bez-nazvu-41.png')] bg-no-repeat bg-cover w-full h-[100px] md:h-[400px]"
>
  <div
    class="w-full h-full flex flex-col justify-center items-center hover:backdrop-blur-sm delay-200 duration-500 px-10"
  >
    <div
      class="container mx-auto flex flex-col justify-center object-center h-full"
    >
      <h1 class="text-nutriPink-100 text-4xl font-extrabold py-4">
        Bezpečné chudnutie pod dohľadom výživového poradcu
      </h1>
      <h2 class="text-2xl font-extrabold py-2">
        Schudnite bezpečne s nutrične vyváženými potravinami NutriFood MRP
      </h2>
      <div class="py-16">
        <button
          class="rounded-xl bg-nutriPink-100 py-4 px-6 mr-4 text-white font-bold"
          >VYBER SI SVOJHO PORADCU</button
        >
        <button
          class="rounded-xl bg-nutriGreen-300 py-4 px-6 ml-4 text-white font-bold"
          >ZOBRAZIŤ MRP POTRAVINY</button
        >
      </div>
    </div>
  </div>
</div>
