

  <footer class="bg-gray-100 text-sm">
    <div class="container mx-auto py-4">
      <div class="grid grid-cols-4 gap-4">
        <div>
          <p>
            Naše programy a potraviny nezaručujú konkrétne výsledky a môžu sa
            líšiť individuálne podľa zdravotného stavu a metabolizmu každej
            osoby.
          </p>
        </div>
        <div>
          Užitočné odkazy O spoločnosti Kontakt Kariéra Doprava a platba
        </div>
        <div>Inšpirácia Magazín Recepty Schudli s nami Akcie</div>
        <div>NutriFood Keto eshop vstúpiť do obchodu</div>
      </div>
    </div>
  </footer>

  <footer class="container mx-auto py-4 text-sm">
    <div class="grid grid-cols-2 gap-4">
      <div>Všeobecné obchodné podmienky Ochrana osobných údajov</div>
      <div>
        <img
          src="https://www.nutrifood.sk/wp-content/uploads/2021/09/Logos.png"
          alt=""
        />
      </div>
    </div>
    <p class="py-2 text-sm text-center">
      Copyright © 2022 Nutri a.s. Všetky práva vyhradené. Made by Clovetek
    </p>
  </footer>