<header class="bg-nutriGreen-100">
  <div class="container mx-auto p-2">
    <div class="grid grid-cols-2 gap-4">
      <div class=" col-start-1">
      <div class="relative mt-1 rounded-md shadow-sm">
        <!-- <input
          type="text"
          name="search"
          id="search"
          class="block w-full rounded-md border-gray-300 px-2 py-1 focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"
          placeholder="Hľadať na Nutri Food Plan"
        /> -->
      </div></div>
      <div class="col-end-13 py-2">
      <ul class="list-none text-sm">
        <li class="float-left ml-4 hover:underline"><a href="#">Všetko o chudnutí</a></li>
        <li class="float-left ml-4 hover:underline"><a href="#">BMI kalkulačka</a></li>
        <li class="float-left ml-4 hover:underline"><a href="#">NutriFood Keto eshop</a></li>
      </ul>
    </div>
    </div>
  </div>
</header>
